{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <main>
        {# BANNER #}
        <div class="banner bg-blue">
            <div class="container-xl d-flex flex-column flex-lg-row justify-content-center align-items-center">
                <img class="left-fish d-none d-lg-block" src={{ asset('images/fish.png')}}>
                <h1 class="text-white text-center">LIVRAISON DE POISSONS FRAIS SUR MONTPELLIER ET ALENTOURS</h1>
                <img class="d-none d-lg-block" src={{ asset('images/fish.png')}}>
                <img class="banner-divider d-lg-none" src={{ asset('images/divider.svg')}}>
            </div>
        </div>

        {# FISHES #}
        <div class="fishes">
            <div class="container-xl d-flex flex-column justify-content-center align-items-center">
                <h3 class="text-center color-blue">Notre sélection :</h3>
                <div class="row justify-content-evenly align-items-center">
                    {% for fish in featuredFishes %}
                        {% include "fish_card.html.twig" with { 'fish': fish } %}    
                    {% endfor %}
                </div>
                <button class="bg-blue text-white whiten-hover">Voir nos produits</button>
            </div>
        </div>

        {# ABOUT #}
        <div class="home-about bg-turquoise-dark">
            <div class="container-xl d-flex flex-column align-items-center text-center text-lg-start">
                <div class="home-about-top d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-between">
                    <div class="home-about-text">
                        <h3>Lorem ipsum dolor</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed ligula in lacus tempus viverra sed nec libero.</p> 
                        <br>
                        <p>Suspendisse aliquet, urna vel posuere pharetra, nulla est aliquam ipsum, lobortis pellentesque ex nisl et libero.</p>
                    </div>
                    <img src={{ asset('images/landscape1.jpg') }}>
                </div>
                <div class="home-about-bottom d-flex flex-column flex-lg-row-reverse align-items-center align-items-lg-start justify-content-between">
                    <div class="home-about-text">
                        <h3>Lorem ipsum dolor</h3>
                        <br>
                        <p>Morbi sed ligula in lacus tempus viverra sed nec libero.</p>
                        <br>
                        <p>Suspendisse aliquet, urna vel posuere pharetra, nulla est aliquam ipsum, lobortis pellentesque ex nisl et libero.</p>
                    </div>
                    <img src={{ asset('images/landscape2.jpg') }}>
                </div>
                <button class="bg-cream color-blue darken-hover">En Savoir Plus</button>
            </div>
        </div>

        {# DELIVERY #}
        <div class="delivery color-blue">
            <div class="container-xl">
                <div class="text-center">
                    <h3>Livraison</h3>
                    <p>Les livraisons sont <strong>le Mercredi et le Vendredi</strong> toute la journée.</p>
                    <p class="fst-italic">Commandez <strong>avant Mardi</strong> pour une livraison <strong>le Mercredi</strong>.</p>
                    <p class="fst-italic">Commandez <strong>avant Jeudi</strong> pour une livraison <strong>le Vendredi</strong>.</p>
                </div>
                <div class="delivery-images d-flex justify-content-evenly align-items-between flex-column flex-md-row">
                    {% include 'home/delivery_info.html.twig' with { 'image': 'images/house.svg', 'text': 'Livraison à domicile' } %}
                    {% include 'home/delivery_info.html.twig' with { 'image': 'images/truck.svg', 'text': 'Transport frais' } %}
                    {% include 'home/delivery_info.html.twig' with { 'image': 'images/euro.svg', 'text': 'Gratuite à partir de 20€' } %}
                </div>
            </div>
        </div>

        {# INFOS #}
        <div class="infos">
            <div class="container-xl">
                <h3 class="color-blue text-center">Ou récupérez directement vos achats au <strong>Port de Palavas-les-Flots.</strong></h3>
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start bg-cream">
                    <img class="w-100" src={{ asset('images/map.png') }}>
                    <div class="infos-text d-flex flex-column text-center text-md-start">
                        <h4 class="color-blue">Adresse :</h4>
                        <p class="color-turquoise-dark">Port de plaisance, 34250 Palavas-les-Flots</p>
                        <h4 class="color-blue">Horaires :</h4>
                        <p class="color-turquoise-dark"> Lundi à Vendredi de 8h à 20h</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}