<a class="product-card col-sm-6 col-lg-4" href="{{ path('app_shop_product', { product: product.id }) }}">
    <img class="product-card__image grow-hover card-img-top" src={{ path('image', { img: product.image }) }} alt={{ product.name }}>
    <div class="product-card__body text d-flex justify-content-between align-items-center color-blue">
      <span class="product-card__title">{{ product.name }}</span>
      <span class="product-card__price text-red fst-italic text-end">{{ product.price }} €</span>
    </div>
  </a>