<header class="bg-white sticky-top">
    {% set currentRouteName = app.request.attributes.get('_route') %}
    <nav class="header__nav navbar container-fluid navbar-expand">

        {# DESKTOP #}
        <div class="container-xl d-lg-flex d-none">
            <div class="d-flex align-items-center">
                <a class="header__logo exmouth p-0 navbar-brand nav-link" href="{{ path('app_home') }}">Fishtre</a>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="header__link nav-link" href="#">À-Propos</a></li>
                    <li class="nav-item"><a class="header__link nav-link" href="{{ path('app_shop_category', { categoryName: 'poissons' }) }}">Boutique</a></li>
                    <li class="nav-item"><a class="header__link nav-link" href="#">Recettes</a></li>   
                    <li class="nav-item"><a class="header__link nav-link" href="#">Contact</a></li>
                </ul>
            </div>
            <ul class="navbar-nav">
                {% if app.user %}
                <li class="nav-item d-flex align-items-center">
                    <button class="header__link nav-link" data-bs-toggle="dropdown" aria-expanded="false">COMPTE</button>
                    <div class="dropdown">
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="header__link dropdown-item">Informations</a></li>
                            <li><a class="header__link dropdown-item" href="{{ path('app_orders') }}">Commandes</a></li>
                            <li><a class="header__link dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a class="header__link nav-link" href="{{ path('app_register')}}">INSCRIPTION</a></li>
                <li class="nav-item"><a class="header__link nav-link" href="{{ path('app_login')}}">CONNEXION</a></li>
                {% endif %}
                <li class="nav-item">
                    <button class="header__link header__cart-link nav-link d-flex align-items-center" {% if currentRouteName != 'app_cart' %}type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart"{% endif %}>
                        PANIER ({{ component('CartCount', { class: 'header__link nav-link p-0', count: cartManager.cart.productsQuantity }) }})
                    </button>
                </li>
            </ul>
        </div>

        {# MOBILE #}
        <div class="container-xl d-flex d-lg-none">
            <a class="header__logo exmouth p-0 navbar-brand" href="{{ path('app_home') }}">Fishtre</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="header-dropdown__image" src={{ asset('images/bars.svg') }}>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="header__link dropdown-item" href="#">À-Propos</a></li>
                            <li><a class="header__link dropdown-item" href="{{ path('app_shop_category', { categoryName: 'Poissons' }) }}">Boutique</a></li>
                            <li><a class="header__link dropdown-item" href="#">Recettes</a></li>
                            <li><a class="header__link dropdown-item" href="#">Contact</a></li>
                        </ul>                        
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button type="button" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="header-dropdown__image" src={{ asset('images/user.svg') }}>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if app.user %}
                            <li><a class="header__link dropdown-item">Informations</a></li>
                            <li><a class="header__link dropdown-item" href="{{ path('app_orders') }}">Commandes</a></li>
                            <li><a class="header__link dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                            {% else %}
                            <li><a class="header__link dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                            <li><a class="header__link dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>    
                            {% endif %}                        
                        </ul>
                    </div>   
                </li>
                <li class="nav-item">                    
                    <button class="nav-link"{% if currentRouteName != 'app_cart' %}type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart"{% endif %}>
                        <img class="header-dropdown__image" src={{ asset('images/cart.svg') }}>
                    </button>
                </li>   
            </ul>
        </div>
    </nav>

    {% if currentRouteName != 'app_cart' %}
    {# CART OFFCANVAS #}
    <div class="offcanvas offcanvas-end" id="offcanvasCart" tabindex="-1" aria-labelledby="offcanvasCartLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Panier</h5>
            <button class="bg-transparent" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><i class="offcanvas-cart__close-image text-blue fa-solid fa-xmark"></i></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
            {{ component('OffcanvasCart', { isCartEmpty: cartManager.cart.cartProducts|length <= 0 }) }}
        </div>
    </div>
    {% endif %}
</header>