<ul {{ attributes }} class="cpc d-flex justify-content-between align-items-center" data-live-id="{{ this.cartProduct.id }}">
    <img class="cpc-product-image" src={{ path('image', { img: this.cartProduct.product.image }) }} alt="">
    <div class="cpc-text d-flex flex-column justify-content-between">
        <h5 class="cpc-product-name">{{ this.cartProduct.product.name }}</h5>
        <div class="cpc-product-price-container d-flex align-items-center">
            <p class="cpc-product-price">{{ this.cartProduct.product.price }} €</p>
        </div>
    </div>
    <button class="cpc-remove-button" data-action="live#action" data-action-name="removeFromCart"></button>
</ul> 