<div {{ attributes }} class="product container-xl d-flex flex-column flex-md-row justify-content-center color-blue">
    <img src={{ path('image', { img: this.selectedFishProduct.image|default(this.fish.image) } )}} class="card-img-top" alt={{ this.fish.name }}>
    <div class="d-flex flex-column justify-content-start">
        <div class="product-infos d-flex justify-content-between align-items-center color-blue">
            <h5 class="m-0">{{ this.fish.name }}</h5>
            <p class="price-by-weight m-0 fst-italic">{{ this.fish.pricePerKilo }}€/kg</p>
        </div>
        <p class="price color-red">{{ this.selectedFishProduct.product.price }} €</p>
        <form class="d-flex flex-column">
            <label>Sélectionnez vos pièces :</label>
            <select data-model="selectedFishProductId" class="color-blue">
                {% for fishProduct in this.fishProducts %}
                    {% if this.selectedFishProductId == fishProduct.id %}
                        <option value="{{ fishProduct.id }}" selected>{{ fishProduct.name }}</option>
                    {% else %}
                        <option value="{{ fishProduct.id }}">{{ fishProduct.name }}</option>                            
                    {% endif %}        
                {% endfor %}
            </select>
            <button class="bg-blue text-white whiten-hover flex-center add-to-cart-button" data-action="live#action" data-action-name="prevent|addToCart" data-loading="addAttribute(disabled)"><div class="loader" data-loading="show"></div><span class="text-white" data-loading="hide">Ajouter au panier</span></button>
        </form>
        <p class="recipes-link"><a href="#">Consultez nos recettes </a>pour cuisiner vos {{ fish.name }}.</p>
    </div>
</div>