<div {{ attributes }} class=" container-fluid">
    <div>
        <div class="d-flex justify-content-between align-items-center">
            <span>Sous-Total :</span>
            {{ component('CartPrice', { price: cartManager.cart.price }) }}
        </div>
        {% if app.user is null %}
        <span>Veuillez vous <a class="fw-bold" href="{{ path('app_login') }}">connecter</a> pour passer commande.</span>
    <div>
        {% else %}
        <div class="shipping-address-form__mode-line d-flex justify-content-between align-items-center">
            <span>{% if this.mode == "delivery" %}Livraison à domicile : {% else %}Retrait en magasin : {% endif %}</span>
            <span class="shipping-cost">
            {% if this.shippingCost is null %}
            -- €
            {% elseif this.shippingCost == 0 %}
            Gratuit
            {% else %}
            {{ this.shippingCost }} €
            {% endif %}
            </span>
        </div>
        <div class="shipping-address-form__total-line d-flex justify-content-between align-items-center">
            <span>Total :</span>
            <span class="shipping-address-form__total-price text-red">
            {% if this.totalPrice == null %}
            -- €
            {% else %}
            {{ this.totalPrice }} €
            {% endif %}
            </span>
        </div>
        <form class="shipping-address-form__mode-selection" data-model="*" data-action="live#update">
            <fieldset>
                <div>
                    <input type="radio" name="mode" value="delivery" checked>
                    <label>Livraison à domicile</label>
                </div>
                <div class="shipping-address-form__pickup-radio">
                    <input type="radio" name="mode" value="pickup">
                    <label>Récupérer en magasin</label>
                </div>
            </fieldset>
        </form>
    </div>
    {% if this.mode == "pickup" %}
    <a class="shipping-address-form__finalize-button w-100 bg-blue text-white flex-center" href="{{ path('app_payment_checkout_pickup') }}">Finaliser la commande</a>
    {% elseif this.modifyAddress %}
    <span>{{ this.error }}</span>
    {{ form_start(form, { attr: { autocomplete: "off", 'data-action': 'live#action', 'data-action-name': 'prevent|saveAddress' } }) }}
        <div class="form-row">
            {{ form_label(form.firstName, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(form.firstName, { attr: { class: 'form-control' } }) }}
            {% include 'errors.html.twig' with { errors: form.firstName.vars.errors } %} 
        </div>
        <div class="form-row">
            {{ form_label(form.lastName, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(form.lastName, { attr: { class: 'form-control' } }) }}
            {% include 'errors.html.twig' with { errors: form.lastName.vars.errors } %} 
        </div>
        <div class="form-row">
            {{ form_label(form.streetName1, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(form.streetName1, { attr: { class: 'form-control' } }) }}
            {% include 'errors.html.twig' with { errors: form.streetName1.vars.errors } %} 
        </div>
        <div class="form-row">
            {{ form_label(form.streetName2, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(form.streetName2, { attr: { class: 'form-control' } }) }}
            {% include 'errors.html.twig' with { errors: form.streetName2.vars.errors } %} 
        </div>
        <div class="form-row">
            {{ form_label(form.postalCode, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(form.postalCode, { attr: { class: 'form-control' } }) }}
            {% include 'errors.html.twig' with { errors: form.postalCode.vars.errors } %} 
        </div>
        <div class="form-row">
            {{ form_label(form.city, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(form.city, { attr: { class: 'form-control' } }) }}
            {% include 'errors.html.twig' with { errors: form.city.vars.errors } %} 
        </div>
        <div class="form-row">
            {{ form_label(form.phone, null, { label_attr: { class: 'form-label' } }) }}
            {{ form_widget(form.phone, { attr: { class: 'form-control' } }) }}
            {% include 'errors.html.twig' with { errors: form.phone.vars.errors } %} 
        </div>
        <button type="submit" class="shipping-address-form__confirm-button bg-blue text-white w-100">Confirmer</button>
    {{ form_end(form) }}
    {% else %}
    <div class="d-flex flex-column">
        <span class="shipping-address-form__address-title">Vous serez livrer à cette addresse :</span>
        <span class="address-component">{{ this.initialFormData.firstName }}</span>
        <span class="address-component">{{ this.initialFormData.lastName }}</span>
        <span class="address-component">{{ this.initialFormData.streetName1 }}</span>
        <span class="address-component">{{ this.initialFormData.postalCode }}</span>
        <span class="address-component">{{ this.initialFormData.city }}</span>
        <span class="address-component">{{ this.initialFormData.phone }}</span>
        <button type="button" class="shipping-address-form__modify-button bg-transparent text-start fw-bold" data-model="modifyAddress" data-value="true" data-action="live#update">Modifier</button>
        <a class="shipping-address-form__finalize-button w-100 bg-blue bg-turquoise-dark-hover text-white flex-center" href="{{ path('app_payment_checkout_shipping') }}">Finaliser la commande</a>
    </div>
    {% endif %}
    {% endif %}
</div>